* {
  margin: 0;
  padding: 0;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.el-button--primary {
  background-color: #534b92 !important;
  border-color: #534b92 !important;
}